*{

}
.home {
   background-image: url("../img/fondo\ 2.png");
}
.color_letra{
    color: white;
}
.lista-home {
    text-decoration: none;
}
.adidas{
    display: flex;
    background-image: url("../img/Fondo3.png");
   
    
}
.nav-home{
    display: flex;
}
.imagen-adidas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 150px;
   
    
}
img {
    padding: 20px;
}


.nike {
   background-image: url("../img/Fondo4.png");
   display: flex;
}
.imagen-nike {
display: flex;
flex-direction: row;
justify-content: space-around;

}