*{

}
.home {
   background-image: url("../img/fondo\ 2.png");
}
.color_letra{
    color: white;
}
.lista-home {
    text-decoration: none;
}
.adidas{
    display: flex;
    background-image: url("../img/Fondo3.png");
     
}
.nav-home {
    display: flex;
}
.nav-li {
    margin: 10px 0;
}
.nav-lia {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    height: 200px;
}

img {
    padding: 20px;
}


.nike {
   background-image: url("../img/Fondo4.png");
   display: flex;
}
.imagen-nike {
display: flex;
flex-direction: row;
justify-content: space-around;

}